.block {
  /* width: 100%; */
  padding: 16px;
  margin: 8px;
  border-radius: 23px;
  box-shadow: #06285a 0px 0px 8px;
  border: #06285a solid 4px;
  background-color: #06285a;
  box-sizing: border-box;
}
